# Django Framework
Django==6.0.5

# Database
psycopg2-binary==2.9.10

# Environment Variables
django-environ==0.11.2

# Image Processing
Pillow==11.0.0

# WSGI Server
gunicorn==23.0.0

# PDF Generation
reportlab==4.2.5

# Excel Export
openpyxl==3.1.5

# Static Files
whitenoise==6.8.2
